@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Qwigley&family=Red+Hat+Display:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --text:#1D2F50;
  --white:#ffffff;
  --primary:#0F906D;
  --primary-dark:#1A6651;
  --secondary: #daefd580;
}

html,
body {
  width: 100vw;
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 45px;
  margin-bottom:20px; 
  color: var(--primary-dark);
  font-family: 'Red Hat Display', sans-serif;
}

p{
  color: var(--text);
}

.heading{
  max-width: 600px;
  text-align: center;
  margin: 2em auto;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 5em auto;
  flex-wrap: wrap;
  gap: 10px;
}

.text{
  max-width: 600px;
  padding: 10px;
}

.content:nth-child(odd){
  flex-wrap: wrap-reverse;
}

.single-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5em;
}


.single-img{
  width: 80%;
  max-width: 1000px;
  margin: 2em auto;
}

.single-img-one{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}