.gradient {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 18.81%, rgba(15, 144, 109, 0.7) 102.65%, #B8D6D1 102.65%, #FFFFFF 102.66%);
}

.bg {
  background-image: url('/imgs/headerBlob.svg');
  background-repeat: no-repeat;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}

.section > div{
  max-width: 45%; 
}

.section > div:nth-child(1){
  width: 100%;
  min-width: 300px;
}
